COMPANIES_CONTAINER_NAME=applier_companies_dev
COMPANIES_IMAGE_TAG=fpm-alpine3.16

DATABASE_IMAGE_TAG=postgres:14.4
DATABASE_COMPANIES_EXTERNAL_PORT=5432
DATABASE_COMPANIES_CONTAINER_NAME=applier_companies_db_dev
DATABASE_AUTH_EXTERNAL_PORT=5433
DATABASE_AUTH_CONTAINER_NAME=applier_auth_db_dev

POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

NGINX_IMAGE_TAG=1.23.1
NGINX_CONTAINER_NAME=applier_nginx_dev
NGINX_ACCOUNTS_PORT=8080