version: "3.8"

services:
  database:
    env_file:
      - .env
    build:
      context: .
      dockerfile: dockerfile.database
      args:
        - DATABASE_IMAGE_TAG=${DATABASE_IMAGE_TAG}
    container_name: ${DATABASE_CONTAINER_NAME}
    ports:
      - "5432:5432"

  accounts:
    env_file:
      - .env
    build:
      context: .
      dockerfile: dockerfile.accounts
      args:
        - ACCOUNTS_IMAGE_TAG=${CORE_IMAGE_TAG}
    container_name: ${CORE_CONTAINER_NAME}
    depends_on:
      - database
    volumes:
      - ./config/php.ini.example:/usr/local/etc/php/php.ini:ro
      - ./config/xdebug.ini.example:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./config/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
      - ./api/accounts:/var/www/html/api:rw