version: "3.8"

services:
  database_companies:
    env_file:
      - .env
    build:
      context: .
      dockerfile: dockerfile.database
      args:
        - DATABASE_IMAGE_TAG=${DATABASE_IMAGE_TAG}
    container_name: ${DATABASE_COMPANIES_CONTAINER_NAME}
    ports:
      - "${DATABASE_COMPANIES_EXTERNAL_PORT}:5432"

  database_auth:
    env_file:
      - .env
    build:
      context: .
      dockerfile: dockerfile.database
      args:
        - DATABASE_IMAGE_TAG=${DATABASE_IMAGE_TAG}
    container_name: ${DATABASE_AUTH_CONTAINER_NAME}
    ports:
      - "${DATABASE_AUTH_EXTERNAL_PORT}:5432"

  companies:
    env_file:
      - .env
    build:
      context: .
      dockerfile: dockerfile.companies
      args:
        - IMAGE_TAG=${COMPANIES_IMAGE_TAG}
    container_name: ${COMPANIES_CONTAINER_NAME}
    depends_on:
      - database_companies
    volumes:
      - ./api/companies:/var/www/html/api:rw
      - ./logs/companies/php.log:/var/log/fpm-php.www.log

  nginx:
    env_file:
      - .env
    build:
      context: .
      dockerfile: dockerfile.nginx
      args:
        - IMAGE_TAG=${NGINX_IMAGE_TAG}
    container_name: ${NGINX_CONTAINER_NAME}
    ports:
      - ${NGINX_ACCOUNTS_PORT}:80
    volumes:
      - ./logs/nginx:/var/log/nginx/:rw
      - ./api/companies/:/var/www/html/api/:rw
    depends_on:
      - companies

  rabbitmq:
    env_file:
      - .env
    build:
      context: .
      dockerfile: dockerfile.rabbitmq
      args:
        - IMAGE_TAG=${RABBITMQ_IMAGE_TAG}
    container_name: ${RABBITMQ_CONTAINER_NAME}
    ports:
      - ${RABBITMQ_MANAGEMENT_EXTERNAL_PORT}:15672
      - ${RABBITMQ_AMQP_EXTERNAL_PORT}:5672
    depends_on:
      - companies
