services:
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  App\Shared\:
    resource: '../src/Shared/'

  App\Shared\Infrastructure\Uuid\IdFactory:
    factory: [ 'App\Shared\Infrastructure\Uuid\IdFactoryFactory', 'create' ]

  App\Shared\Domain\Factory\AccountIdFactoryInterface: '@App\Shared\Infrastructure\Uuid\IdFactory'

  App\Shared\Domain\Factory\UserIdFactoryInterface: '@App\Shared\Infrastructure\Uuid\IdFactory'